<div class="tabs">
    <nav class="tabs__nav">
      <h1>Merchant Banners</h1>
  <div>
      <button
        nz-button
        nzShape="round"
        (click)="show('one')"
        class="tabs__nav-item"
        [class.tabs__nav-item--on]="selectedTab === 'one'"
      >
        <span nzType="download"></span>
        Banner
      </button>
  
      <button
        nz-button
        nzShape="round"
        (click)="show('two')"
        class="tabs__nav-item b2"
        [class.tabs__nav-item--on]="selectedTab === 'two'"
      >
        <span nzType="download"></span>
        Price Configuration
      </button>

      <button
        nz-button
        nzShape="round"
        (click)="show('three')"
        class="tabs__nav-item b3"
        [class.tabs__nav-item--on]="selectedTab === 'three'"
      >
        <span nzType="download"></span>
        Media
      </button>

    </div>  
  
    </nav>
  
    <div #tabsContentRef class="tabs__content" [ngSwitch]="selectedTab">
      <div *ngSwitchCase="'one'" class="tabs__tab">
        <div style="float: right;">
        <input [(ngModel)]="searchTerm" (input)="searchFunc()" (ngModelChange)="onTextChange($event)" type="text" placeholder="Search">
      </div>
        <nz-table #sortTable [nzData]="listOfBanner" >
          <thead>
            <tr>
              <th [nzSortFn]="true" (nzSortOrderChange)="changeSortOrder($event)">Placement</th>
              <th [nzSortFn]="true" (nzSortOrderChange)="changeSortOrder($event)">Position</th>
              <th [nzSortFn]="true" (nzSortOrderChange)="changeSortOrder($event)">Business</th>
              <th [nzSortFn]="true" (nzSortOrderChange)="changeSortOrder($event)">Frequency</th>
              <th >Start Date</th>
              <th>End Date</th>
              <th>Approve Status</th>
              <th>Visibility Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of merchantBannerData.data  ">
              <td>{{ data.placement }}</td>
              <td>{{ data.position }}</td>
              <td>{{ data.business }}</td>
              <td>{{ data.frequency }}</td>
              <td>{{ data.startDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ data.endDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ data.approveStatus === 0 ? 'Approved' : 'Pending' }}</td>
              <td>{{ data.visibilityStatus === 0 ? 'Active' : 'Inactive' }}</td>
  
              <td>
                <a (click)="approveStatus(data,1)" *ngIf="data.approveStatus" nz-icon [nzType]="'close'"></a>
                <a (click)="approveStatus(data,0)" *ngIf="!data.approveStatus" nz-icon [nzType]="'check'"></a>
                
                <nz-divider nzType="vertical"></nz-divider>
  
                <a (click)="deleteMerchantBanner(data)" nz-icon [nzType]="'delete'"></a>
                <nz-divider nzType="vertical"></nz-divider>

                <a (click)="visibileStatus(data, 1)" *ngIf="data.visibilityStatus" nz-icon [nzType]="'close'"></a>
                <a (click)="visibileStatus(data, 0)" *ngIf="!data.visibilityStatus" nz-icon [nzType]="'check'"></a>
                
                <nz-divider nzType="vertical"></nz-divider>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <div *ngSwitchCase="'two'" class="tabs__tab">
        <div style="float: right;">
          <input [(ngModel)]="searchTerm" (input)="searchFunc()" (ngModelChange)="onTextChange($event)" type="text" placeholder="Search">
        </div>
        <nz-table #sortTable [nzData]="listOfPriceConfiguration">
          <thead>
            <tr>
              <th [nzSortFn]="true" (nzSortOrderChange)="changeSortOrder($event)">Placement</th>
              <th [nzSortFn]="true" (nzSortOrderChange)="changeSortOrder($event)">Position</th>
              <th>Per Impression Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of merchantPriceData.data">
              <td>{{ data.placement}}</td>
              <td>{{ data.position}}</td>
              <td>{{ data.perImpressionPrice}}</td>
              <td>
                <a (click)="editlistOfPriceConfiguration()" nz-icon [nzType]="'edit'"></a>
                <nz-divider nzType="vertical"></nz-divider>
              </td>
            </tr>
          </tbody>
        </nz-table>

      </div>

      <div *ngSwitchCase="'three'" class="tabs__tab">
        <nz-table #basicTable [nzData]="listOfMedia">
          <thead>
            <tr>
              <th>Background</th>
              <th>Total Business using this Image</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.background}}</td>
              <td>{{ data.totalBusiness}}</td>
              <td>{{ data.status}}</td>
              <td>
                <a (click)="editMedia()" nz-icon [nzType]="'edit'"></a>
                <nz-divider nzType="vertical"></nz-divider>
  
                <a (click)="activeDeactivateMedia()" nz-icon [nzType]="'close'"></a>
                <nz-modal
                  [(nzVisible)]="isMediaStatus"
                  nzTitle="Deactivate"
                  (nzOnCancel)="handleCancelMedia()"
                  (nzOnOk)="handleOkMedia()"
                >
                  <ng-container *nzModalContent>
                    <p>Are you sure you want to Deactivate this?</p>
                  </ng-container>
                </nz-modal>
                <nz-divider nzType="vertical"></nz-divider>
  
                <a (click)="deleteMedia()" nz-icon [nzType]="'delete'"></a>
                <nz-modal
                  [(nzVisible)]="isMediaDelete"
                  nzTitle="Delete"
                  (nzOnCancel)="handleCancelMediaDelete()"
                  (nzOnOk)="handleOkMediaDelete()"
                >
                  <p *nzModalContent>Are you sure you want to delete this?</p>
                </nz-modal>
              </td>
              
            </tr>
          </tbody>
        </nz-table>

       <div style="float: right;">
        <button nz-button nzType="primary" nzShape="circle" (click)="addMediaImage()"><span nz-icon nzType="plus"></span></button>
    </div>  
       
      </div>
    </div>
  </div>
  