<form  [formGroup]="categoryForm">
  <h1>Edit Category</h1>
  <div class="form-group">
    <label for="exampleFormControlInput1">Category</label>
    <input 
      formControlName="categoryName" 
      type="categoryName" 
      class="form-control" 
      id="exampleFormControlInput1" 
      placeholder="categoryName"
    >
  </div>

  <div style="gap: 10px; display: flex;">  
    <button type="button" class="btn btn-lg btn-primary" (click)="updateRewardCategory(id)">Save</button>
  </div>
</form>