<div class="tabs">
  <nav class="tabs__nav">
    <h1>Rewards</h1>

    <button
      nz-button
      nzShape="round"
      (click)="show('one')"
      class="tabs__nav-item"
      [class.tabs__nav-item--on]="selectedTab === 'one'"
    >
      <span nzType="download"></span>
      Rewards
    </button>

    <button
      nz-button
      nzShape="round"
      (click)="show('two')"
      class="tabs__nav-item"
      [class.tabs__nav-item--on]="selectedTab === 'two'"
    >
      <span nzType="download"></span>
      Rewards Categories
    </button>

  </nav>

  <div #tabsContentRef class="tabs__content" [ngSwitch]="selectedTab">
    <div *ngSwitchCase="'one'" class="tabs__tab">
      <nz-table #basicTable [nzData]="rewardData">
        <thead>
          <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Type</th>
            <th>Reedem Points</th>
            <th>Expiry Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of rewardData.data">
            <td>{{ data.rewardTitle }}</td>
            <td>
              <ng-container *ngFor="let category of data.categories; let last = last;">
                {{category.categoryName}}<span *ngIf="!last">, </span>
              </ng-container>
            </td>
            <td>{{ data.type }}</td>
            <td>{{ data.reedemPoint }}</td>
            <td>{{ data.pubishDate | date:'dd/MM/yyyy' }}</td>
            <td>{{data.status === 0 ? 'Active' : 'Inactive'}}</td>

            <td>
              <a (click)="editReward(data)" nz-icon [nzType]="'edit'"></a>
              <nz-divider nzType="vertical"></nz-divider>

              <a (click)="activeDeactivate()" nz-icon [nzType]="'close'"></a>
              <nz-modal
                [(nzVisible)]="isVisibleStatus"
                nzTitle="Deactivate"
                (nzOnCancel)="handleCancelStatus()"
                (nzOnOk)="handleOkStatus()"
              >
                <ng-container *nzModalContent>
                  <p>Are you sure you want to Deactivate this?</p>
                </ng-container>
              </nz-modal>
              <nz-divider nzType="vertical"></nz-divider>

              <a (click)="deleteReward(data)" nz-icon [nzType]="'delete'"></a>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div style="float: right;">
        <button nz-button nzType="primary" nzShape="round"  (click)="addReward()"><span nz-icon nzType="plus"></span></button>
      </div>
    </div>
    <div *ngSwitchCase="'two'" class="tabs__tab">
      <nz-table #basicTable [nzData]="rewardCategoryData" nzExpand="expandTemplate">
        <thead>
          <tr>
            <th>Category</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of rewardCategoryData.data" (nzClick)="onRowClick(data)">
            <td>{{ data.categoryName }}</td>
            <td>{{data.status === 0 ? 'Active' : 'Inactive'}}</td>
            <td>
              <a (click)="editRewardCategory(data)" nz-icon [nzType]="'edit'"></a>
              <nz-divider nzType="vertical"></nz-divider>

              <a (click)="activeDeactivateCategory(data,1)" *ngIf="data.status" nz-icon [nzType]="'close'"></a>
              <a (click)="activeDeactivateCategory(data,0)" *ngIf="!data.status" nz-icon [nzType]="'check'"></a>

              <nz-divider nzType="vertical"></nz-divider>

              

              <a (click)="deleteRewardCategory(data)" nz-icon [nzType]="'delete'"></a>

            </td>
            
          </tr>
        </tbody>
      </nz-table>
      <div style="float: right;">
      <button nz-button nzType="primary" nzShape="round"  (click)="addRewardCategories()"><span nz-icon nzType="plus"></span></button>
    </div>
    </div>
  </div>
</div>
