<form >
    <h1>Edit Media</h1>
    <div class="form-group">
      <label for="exampleFormControlInput1">Total Business using Image</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="placement">
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Status</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Active</option>
          <option>InActive</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlFile1">Upload Category Icon</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>

    <div style="gap: 10px; display: flex;">  
        <button type="button" class="btn btn-lg btn-primary" >Cancel</button>
        <button type="button" class="btn btn-lg btn-primary" >Save</button>
      </div>
  </form>
 