<form [formGroup]="rewardEditForm">
  <h1>Edit Rewards</h1>
  <div class="form-group">
    <label for="exampleFormControlInput1">Reward Title</label>
    <input
      formControlName="rewardTitle"
      type="rewardTitle"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="rewardTitle"
    />
  </div>

 

  <div class="form-group">
        <label for="exampleFormControlInput2">Select Reward category</label>
        <input 
          formControlName="type" 
          type="type" 
          class="form-control" 
          id="exampleFormControlInput2" 
          placeholder="type"
        >
    </div>

  <div class="form-group">
    <label for="exampleFormControlInput3">Reward Points</label>
    <input
      formControlName="reedemPoint"
      type="reedemPoint"
      class="form-control"
      id="exampleFormControlInput3"
      placeholder="reedemPoint"
    />
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput3">Source Published Date</label>
    <input
      formControlName="pubishDate"
      type="pubishDate"
      class="form-control"
      id="exampleFormControlInput4"
      placeholder="pubishDate"
    />
  </div>

  <div style="gap: 10px; display: flex">
    <button type="button" class="btn btn-lg btn-primary" (click) = "logOut()">
      Cancel
    </button>

    <button type="button" class="btn btn-lg btn-primary" (click)="singleRewardDetail(id); patchValue(data)">
      Preview
    </button>

    <button type="button" class="btn btn-lg btn-primary" (click)="updateReward(id)">
      Publish
    </button>
  </div>
</form>
