<!-- <nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Finndit Admin</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <span nz-icon nzType="home" nzTheme="outline"></span>
        <span routerLink="/dashboard">Dashboard</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span routerLink="/business">Business</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span routerLink="/categories">Categories</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span routerLink="/user">Users</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
        <span routerLink="/listing">Listing</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="database" nzTheme="outline"></span>
        <span routerLink="/rewards">Rewards</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="form" nzTheme="outline"></span>
        <span routerLink="/forms">Forms</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="dollar" nzTheme="outline"></span>
        <span routerLink="/adminbanner">Admin Banners</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="usergroup-add" nzTheme="outline"></span> 
        <span routerLink="/merchantbanner">Merchant Banners</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="team" nzTheme="outline"></span> 
        <span routerLink="/team">My Team</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout> -->




<!-- <router-outlet></router-outlet> -->